{% block checkbox_switch_type_label %}
{% endblock %}

{% block checkbox_switch_type_errors %}
    {{ errors }}
{% endblock %}

{% block checkbox_switch_type_widget %}

    {% set valueValue = 1 %}
    {% if value['value'] is defined %}
        {% set valueValue = value['value'] %}
    {% endif %}

    {% set description = label %}
    {% if value['description'] is defined %}
        {% set description = value['description'] %}
    {% endif %}

    <div class="switch-container">
        <label class="switch">
            <input
                    type="checkbox"
                    name="{{ full_name }}"
                    value="{{ valueValue }}"
            >
            <div class="slider round"></div>
        </label>
        <div class="switch-desc">{{ description }}</div>
    </div>
{% endblock %}