{% block checkbox_switch_type_label %}
{% endblock %}

{% block checkbox_switch_type_errors %}
    {{ errors }}
{% endblock %}

{% block checkbox_switch_type_widget %}
    <label class="switch switch-container">
        <input
                type="checkbox"
                name="{{ full_name }}"
                value="{{ value['id'] }}"
        >
            <div class="slider round"></div>
        <div class="switch-desc">{{ value['email'] }}</div>
    </label>
{% endblock %}