{% block quill_type_label %}
    <label for="item_card_form_item_origin" class="required">Pochodzenie</label>
{% endblock %}

{% block quill_type_errors %}
{% endblock %}

{% block quill_type_widget %}
    <div id="quill-editor-container"></div>
    <input id="quill-data-container"
           type="text"
           name="{{ parent_name }}[{{ name }}]"
            {% if data[name] is defined %}
                value="{{ data[name] }}"
            {% endif %}
           required
           hidden
    >
{% endblock %}