{% extends 'base.html.twig' %}
{% block body %}
    <div class="columns is-centered is-variable is-0-mobile">
        <div class="column is-one-third">
            {{ include('calendar/calendar.html.twig') }}
        </div>
        <div class="column">
            {{ include('calendar/answer_calendar.html.twig') }}
        </div>
    </div>
{% endblock %}
