{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .calendar-image {
            height: 100%;
            max-height: 321px;
            min-height: 200px;
            background-image: url("{{ asset('images/cobold.jpg') }}");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    </style>

    <div class="columns is-centered is-variable is-0-mobile">
        <div class="column is-one-third">
            {{ include('calendar/calendar.html.twig') }}
        </div>
        <div class="column">
            {{ include('calendar/create_form.html.twig', {'selectable': true}) }}

            <div class="calendar-image"></div>
        </div>
    </div>
{% endblock %}
