{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .column {
            display: flex;
            justify-content: center;
        }
        .column > figure {
            box-shadow: 0 0 10px #888888;
        }
        .column .image {
            max-width: 400px;
        }
    </style>
    <div class="columns is-variable is-0-mobile">
        <div class="column">
            <figure class="image">
                <img src="{{ asset('images/chimera.jpg') }}">
            </figure>
        </div>
        <div class="column">
            <figure class="image">
                <img src="{{ asset('images/cobold_2.jpg') }}">
            </figure>
        </div>
        <div class="column">
            <figure class="image">
                <img src="{{ asset('images/sphinx.jpg') }}">
            </figure>
        </div>
    </div>
{% endblock %}