{% extends 'base.html.twig' %}
{% block body %}
    <div class="columns is-variable is-0-mobile">
        <div class="column">
            {% include 'calendar/list_item.html.twig' with {'item': calendars[0] ?? null, 'image': asset('images/chimera.jpg')} only %}
        </div>
        <div class="column">
            {% include 'calendar/list_item.html.twig' with {'item': calendars[1] ?? null, 'image': asset('images/cobold_2.jpg')} only %}
        </div>
        <div class="column">
            {% include 'calendar/list_item.html.twig' with {'item': calendars[2] ?? null, 'image': asset('images/sphinx.jpg')} only %}
        </div>
    </div>
{% endblock %}