<div class="small-card-back">
    <div class="title-section">
        <div class="item-title">Lorem ipsum dolor sit amet</div>
    </div>
    <div class="description-section description-section-back"></div>
</div>