{% extends 'base.html.twig' %}
{% block body %}
<div class="level-item has-text-centered">
    <div class="content">
        <h4 class="text-center">Proszę poczekać aż admin aktywuje twoje konto.</h4>
        <figure>
            <img src="{{ asset('images/modron.jpg') }}">
        </figure>
    </div>
</div>
{% endblock %}
