.dragon-footer-container {
    height: 2.5em;
    display: flex;
    align-items: flex-end;
}
.dragon-footer {
    height: 20px;
    background-image: url("/images/dragons.png");
    background-size: contain;
    width: 100%;
    opacity: 0.5;
}