body {
    padding: 0;
    margin: 0;
    font-family: Arial;
}
.black-dot {
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}
.empty-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
}
.rectangle {
    height: 5mm;
    width: 5mm;
    border: 1px solid black;
    display: inline-block;
    opacity: 0.3;
}
.opaque {
    opacity: 0.3;
}
.tac {
    text-align: center;
}
.tar {
    text-align: right;
}
/* ultimate center vertically and horizontally */
.uc {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
/* center vertical */
.cv {
    display: flex;
    align-items:center;
}