.section {
    background-color: rgba(0, 255, 255, 0.5);
}
.black-dot {
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}
.empty-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
}
.rectangle {
    height: 10px;
    width: 5px;
    border: 1px solid black;
    display: inline-block;
}
.opaque {
    opacity: 0.5;
}
.tac {
    text-align: center;
}
.tar {
    text-align: right;
}