<b>Skrytobójstwo (PHB 81)</b> - zyskuję następującą przewagę:
<ul>
    <li>automatyczne trafienia krytyczne w zaskoczone (PHB 189) istoty</li>
    <li>ułatwienie w testach ataku przeciwko istotom, które jeszcze nie wykonały swojej tury w całej walce.</li>
</ul>