<table>
    <tr>
        <td colspan='2' style='text-align: center;'><b>Wyczerpanie</b></td>
    </tr>
    <tr>
        <td>Poziom</td>
        <td style='text-align: center;'>Efekt</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Utrudnienie w testach cech</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Szybkość zmniejszona o połowę</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Utrudnienie w testach ataku i rzutach obronnych</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Maksymalne PW zmniejszone o połowę</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Szybkość zmniejszona do 0</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Śmierć</td>
    </tr>
</table>