<b>Wartownik</b> - zyskujesz następujące korzyści:
<ul>
    <li>kiedy trafiasz atakiem okazyjnym to szybkość trafionej istoty spada do 0 na resztę tury,</li>
    <li>przeciwnicy, którzy wychodzą z twojej strefy ataku, prowokują ataki okazyjne nawet jak wykonują akcję odstąpienia,</li>
    <li>kiedy przeciwnik w promieniu 1,5 m od ciebie wykonuje atak w inny cel niż ty, to możesz wykorzystać reakcję,
        aby wykonać atak wręcz przeciwko atakującemu.</li>
</ul>