<b>Mistrz broni dwuręcznej</b> - gdy korzystasz z broni dwuręcznej:
<ul>
    <li>gdy w swojej turze uzyskasz trafienie krytyczne lub sprowadzisz przeciwnika do 0 PW to w ramach akcji dodatkowej możesz wykonać atak wręcz bronią białą,</li>
    <li>przed wykonaniem ataku ciężką bronią, w której masz biegłość możesz zdecydować się przyjąć karę -5 do testu ataku, jeśli trafisz otrzymasz premię +10 do obrażeń.</li>
</ul>