<b>Czujny</b> - zawsze wypatrujesz zagrożenia, dzięki czemu zyskujesz poniższe korzyści:
<ul>
    <li>
        otrzymujesz premię +5 do inicjatywy,
    </li>
    <li>
        póki jesteś przytomny, nie można cię zaskoczyć,
    </li>
    <li>
        twoi przeciwnicy nie otrzymują ułatwienia w testach ataku, gdy ich nie widzisz.
    </li>
</ul>