<b>Strzelec wyborowy</b> - mistrzowsko posługujesz się bronią strzelecką i potrafisz oddawać strzały, które inni uważają za niemożliwe. Zyskujesz poniższe korzyści:
<ul>
    <li>
        nie otrzymujesz utrudnienia w testach ataku za strzelanie do celów na dalekim dystansie.
        Twoje ataki bronią dystansową ignorują korzyści z osłony połowicznej lub w trzech czwartych,
    </li>
    <li>
        Zanim wykonasz atak bronią dystansową, w której masz biegłość, możesz zdecydować się przyjąć karę -5 do
        testu ataku. Jeśli trafisz, otrzymujesz premię +10 do rzutu na obrażenia.
    </li>
</ul>