<b>Mag bitewny</b> - zyskujesz:
<ul>
    <li>kiedy otrzymuje obrażenia, mam ułatwienie w rzutach obronnych na kondycję koniecznych do utrzymania koncentracji na zaklęciu,</li>
    <li>jestem w stanie zapewnić komponent somatyczny do czaru, nawet jeśli trzymam broń lub tarczę w jednej lub obu rękach.</li>
</ul>