<b>Punkty zaklinania</b> - posiadasz {{ pointsCount }} punkty zaklinania, odzyskujesz je po długim odpoczynku.
<b>Elastyczne czarowanie</b> - możesz wykorzystywać punkty zaklinania do odzyskiwania komórek czarów i odwrotnie,
możesz poświęcać komórki czarów, by otrzymać w ten sposób punkty zaklinania.
<p><b>Tworzenie komórek czarów</b> - w ramach akcji dodatkowej w swojej turze możesz przekształcić niewydane jeszcze punkty
    zaklinania w komórkę czaru. Koszt utworzenia komórki danego kręgu zawiera tabela Tworzenie komórek czarów.
    Możesz stworzyć komórkę maksymalnie 5. kręgu. Wszystkie stworzone w ten sposób komórki znikają,
    kiedy kończysz długi odpoczynek.</p>
<table>
    <tr>
        <td colspan="2">Tworzenie komórek czarów</td>
    </tr>
    <tr>
        <td>Krąg czaru</td>
        <td>Koszt w punktach zaklinania</td>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
    </tr>
    <tr>
        <td>2</td>
        <td>3</td>
    </tr>
    <tr>
        <td>3</td>
        <td>5</td>
    </tr>
    <tr>
        <td>4</td>
        <td>6</td>
    </tr>
    <tr>
        <td>5</td>
        <td>7</td>
    </tr>

</table>
<p><b>Przekształcenie komórek czarów w punkty zaklinania</b> - w ramach akcji dodatkowej w swojej turze możesz poświęcić jedną
    komórkę czaru, by otrzymać liczbę punktów zaklinania równą kręgowi tej komórki.</p>