<b>Pochwycenie (PHB 195)</b> -
<ul>
    <li>w ramach akcji ataku, albo jako jeden z ataków jeśli posiadasz ich parę - możesz pochwycić
        istotę. Cel twojego pochwycenia musi być co najwyżej jeden rozmiar większy od ciebie, znajdować się w twojej strefie
        ataku, oraz musisz mieć wolną co najmniej jedną rękę</li>
    <li>zamiast testu ataku wykonujesz test pochwycenia, jest to twoja wartość atletyki przeciwko wartości atletyki lub
        akrobatyki celu, wygrywasz automatycznie, jeśli cel jest obezwładniony</li>
    <li>jeśli wygrasz, twój cel staje się pochwycony, możesz uwolnić cel w dowolnym momencie i nie wymaga to żadnej akcji.</li>
</ul>
<b>Stan pochwycony (PHB 291)</b> -
<ul>
    <li>szybkość istoty spada do 0 i nie może korzystać z premii do szybkości</li>
    <li>stan pochwycenia kończy się, jeśli jakiś efekt usunie pochwycone stworzenie z zasięgu chwytającego, np. wybuch</li>
</ul>
<b>Uwolnienie się z pochwycenia (PHB 195)</b> - pochwycona istota może użyć swojej akcji, aby spróbować się uwolnić,
w tym celu musi wykonać test swojej atletyki lub akrobatyki przeciwko atletyce chwytającego.<br>
<b>Przemieszczanie pochwyconej istoty (PHB 195)</b> - jeśli pochwycona istota nie jest conajmniej dwa rozmiary mniejsza o ciebie, to możesz ją
przemieszczać z połową swojej szybkości.