<b>Notatki</b> -
<table>
    <tr>
        <td></td>
        <td>STR</td>
        <td>DEX</td>
        <td>CON</td>
    </tr>
    <tr>
        <td>Feat expertize (human variant)</td>
        <td>+1</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>ASI human variant</td>
        <td>+1</td>
        <td></td>
        <td>+1</td>
    </tr>
    <tr>
        <td>ASI 4 LVL</td>
        <td>+2</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>ASI 6 LVL</td>
        <td></td>
        <td></td>
        <td>+2</td>
    </tr>
    <tr>
        <td>ASI 8 LVL</td>
        <td>+1</td>
        <td>+1</td>
        <td></td>
    </tr>
</table>
<b>Znane sztuczki</b> - kuglarstwo, tańczące światła.<br>
<b>Znane czary</b> - absorb elements, protection from evil and good, magic weapon, enlarge/reduce, shield, silvery barbs
<b>Komórki czarów</b> - 4 kręgu pierwszego, 2 kręgu drugiego.