<b>Metamagia</b> - otrzymujesz dwie metamagiczne możliwości, gdy rzucasz czar możesz użyć tylko jednej opcji metamagii,
chyba że określono inaczej.
<p><b>Wzmocnione zaklęcie</b> - za 1 pkt zaklinania przerzucasz 1 kość obrażeń, nie możesz przerzucić więcej kości niż twój mod z charyzmy,
musisz przyjąć nowy wynik. Możesz skorzystać ze wzmocnionego zaklęcia, nawet jeśli już skorzystałeś z innej opcji metamagii.</p>
<p><b>Przedłużone zaklęcie</b> - za 1 pkt zaklinania podwajasz czas działania czaru, maksymalnie do 24 godzin.</p>
