<b>Natural explorer</b> - when you make an intelligence or wisdom check related to your favored terrain,
your proficiency bonus is doubled if you are using a skill that you're proficient in. While traveling for an hour or
more in your favored terrain, you gain the following benefits:
<ul>
    <li>difficult terrain doesn't slow your group's travel,</li>
    <li>your group can't become lost except by magical means,</li>
    <li>even when you are engaged in another activity while traveling (such as foraging, navigating, or tracking), you remain alert to danger,</li>
    <li>if you are traveling alone, you can move stealthily at a normal pace,</li>
    <li>when you forage, you find twice as much food as you normally would,</li>
    <li>while tracking other creatures, you also learn their exact number, their sizes, and how long ago they passed through the area.</li>
</ul>
My favs are: mountains, forests.