<b>Akty wiary</b> - możesz wykonać jeden akt wiary, użycie odnawia się po krótkim lub długim odpoczynku.
<ul>
    <li>
        <b>Gniew Natury</b> - powodujesz wzrost widmowych pnączy sięgających po istotę, którą widzisz w obrębie
        2 hex od ciebie. Cel musi wykonać rzut obronny na siłę lub zręczność albo zostanie unieruchomiony, cel może powtórzyć
        rzut obronny na koniec każdej swojej tury. Jeśli uda mu się uwolnić, to pnącza znikają.
    </li>
    <li>
        <b>Odpędzanie Niewiernych</b> - każdy słyszący cię czart lub fey w obrębie 6 hex od ciebie, musi wykonać rzut obronny na
        mądrość, inaczej zostanie odpędzony na 1 minutę albo do czasu otrzymania obrażeń. Odpędzona istota próbuje oddalić się
        od ciebie i nie może z własnej woli zbliżyć się do ciebie bliżej niż na 6 hex. Nie może podejmować reakcji, może używać
        akcji uników lub sprintu. Jeśli prawdziwą postać istoty skrywa iluzja, zmiennokształtność albo inny efekt, to natura
        istoty zostaje ujawniona.
    </li>
</ul>