<b>Zaklęcia przysięgi</b> - znasz następujące zaklęcia: <span style="color: gray;">{{ oathSpells|join(', ') }}</span>.
Te zaklęcia są zawsze przygotowane i nie wliczają się do limitu przygotowanych czarów.