<b>Szał</b> - zużyj akcję dodatkową aby wejść w szał, który trwa 1 minutę, zyskujesz:
<ul>
    <li>+{{ damage}} obrażeń do broni opartych na sile</li>
    <li>otrzymujesz połowę obrażeń: siecznych, obuchowych, przebijających</li>
    <li>rzuty obronne na siłę i testy siły wykonujesz z ułatwieniem</li>
</ul>
<p>Szał kończy się, jeśli stracisz przytomność albo jeśli twoja tura skończy się, a ty nie zaatakowałaś wrogiej istoty albo nie otrzymałaś obrażeń w ciągu ostatniej tury. Możesz także zakończyć szał akcją dodatkową. Zdolność wraca po odbyciu długiego odpoczynku.</p>