<b>Odepchnięcie / powalenie (PHB 195)</b> -
<ul>
    <li>w ramach akcji ataku, albo jako jeden z ataków jeśli posiadasz ich parę - możesz odepchnąć lub powalić istotę.
        Cel twojego pochwycenia musi być co najwyżej jeden rozmiar większy od ciebie, znajdować się w twojej strefie
        ataku</li>
    <li>zamiast testu ataku wykonujesz test atletyki przeciwko wartości atletyki lub akrobatyki celu, wygrywasz
        automatycznie, jeśli cel jest obezwładniony</li>
    <li>jeśli wygrasz, twój cel staje się powalony lub odepchnięty na 1 hex od ciebie.</li>
</ul>
<b>Stan powalony (PHB 291)</b> -
<ul>
    <li>powalone stworzenie może się czołgać, chyba że się podniesie (kosztuje to połowę ruchu) i tym samym zakończy ten stan</li>
    <li>powalone stworzenie ma utrudnienie w testach ataku</li>
    <li>test ataku przeciwko powalonemu stworzeniu wykonywany jest z ułatwieniem, o ile atakujący znajduje się 1 hex od celu,
        w innym wypadku atak wykonywany jest z utrudnieniem.</li>
</ul>