Ukradkowy Atak - <i style="color: gray;">raz na turę</i> mogę zadać {{ sneakAttackDiceCount }}k6 dodatkowych obrażeń podczas ataku, pod warunkiem że:
<ul>
    <li>koło mojego celu znajduje się przytomny sojusznik lub mam ułatwienie w ataku,</li>
    <li>używam broni finezyjnej lub dystansowej,</li>
    <li>w wypadku ataku krytycznego rzucam kośćmi ukradkowego ataku dwukrotnie (PHB 196),</li>
    <li>jeśli przy ataku okazyjnym, spełniam warunki ukradkowego ataku, to mogę go użyć zgodnie z zasadą "raz na turę",</li>
    <li>w przypadku ataku z zaskoczenia przy ataku bronią dystansową i strzelając w cel w długim zasięgu broni, mogę użyć tej umiejętności, ponieważ posiadam disadvantage do trafienia, ale nie do zaskoczenia (advantage),</li>
    <li>gdy używam dwóch broni naraz, to jeśli nie zużyję ukradkowego ataku podczas pierwszego ataku, bo np. nie trafię, to mogę go użyć przy ataku drugą ręką.</li>
</ul>