<b>Dzika postać</b> - możesz przemienić się w następujące formy zwierzęce:
<table>
    <tr>
<td colspan="4">Formy zwierzęce</td>
    </tr>
    <tr>
        <td>poziom</td>
        <td>maks. SW</td>
        <td>ograniczenia</td>
        <td>przykład</td>
    </tr>
    <tr>
        <td>2</td>
        <td>1/4</td>
        <td>nie ma szybkości lotu lub pływania</td>
        <td>wilk</td>
    </tr>
    <tr>
        <td>4</td>
        <td>1/2</td>
        <td>nie ma szybkości lotu</td>
        <td>krokodyl</td>
    </tr>
    <tr>
        <td>8</td>
        <td>1</td>
        <td>-</td>
        <td>olbrzymi orzeł</td>
    </tr>
</table>