<style>
    #abilities-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: inherit;
        width: inherit;
    }
    .ability-background {
        background-image: url("/public/images/ability.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .ability {
        width: 16mm;
        height: 23mm;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .ability div {
        display: flex;
        align-items:center;
        justify-content:center;
    }
    .ability div:nth-child(1) {
        background-color: rgba(10, 10, 10, 0.3);
        font-size: 8px;
    }
    .ability div:nth-child(2) {
        background-color: rgba(100, 100, 100, 0.3);
        font-size: 12px;
        height: 47px;
    }
    .ability div:nth-child(3) {
        background-color: rgba(200, 200, 200, 0.3);
        font-size: 8px;
        height: 25px;
    }
</style>

<div id="abilities-section" class="section">
    <div id="abilities-container">
        {% for key, ability in abilities.toArray() %}
            <div class="ability-background ability">
                <div>{{ key|upper }}</div>
                <div>{{ ability.getModifier()|value }}</div>
                <div>{{ ability.getValue() }}</div>
            </div>
        {% endfor %}
    </div>
</div>