<style>
   #dealt-dmg-background {
      background-image: url("{{ asset('images/dealt_dmg.jpg') }}");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: inherit;
      height: inherit;
   }
</style>

<div id="dealt-dmg-section" class="character-card-section">
   <div id="dealt-dmg-background"></div>
</div>