<style>
   #hp-background {
      background-image: url("/public/images/hp.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: inherit;
      height: inherit;
   }
</style>

<div id="hp-section" class="character-card-section">
   <div id="hp-background"></div>
</div>