<style>
   #passive-perception-intuition-background {
      background-image: url("/public/images/passive_perception_intuition.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: inherit;
      height: inherit;
   }
   #passive-perception-intuition-background div {
      font-size: 16px;
      position: absolute;
      width: 26px;
      height: 26px;
   }
   #passive-perception-intuition-background div:nth-child(1) {
   {{ backgroundColor() }}
      left: 6px;
      top: 6px;
   }
   #passive-perception-intuition-background div:nth-child(2) {
   {{ backgroundColor() }}
      left: 6px;
      top: 46px;
   }
</style>

<div id="passive-perception-intuition-section" class="section">
   <div id="passive-perception-intuition-background">
      <div class="uc opaque">{{ passive_perception }}</div>
      <div class="uc opaque">{{ passive_intuition }}</div>
   </div>
</div>