<style>
   #skills-background {
      background-image: url("/public/images/skills.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: inherit;
      height: inherit;
   }
   #skills-container {
   {{ backgroundColor() }}
      position: absolute;
      top: 8px;
      left: 5px;
      height: 725px;
      width: 383px;
      font-size: 8px;
   }
</style>

<div id="skills-section" class="section">
   <div id="skills-background">
      <div id="skills-container">
         <div>Lorem ipsum</div>
      </div>
   </div>
</div>