<style>
    #stats-container {
        width: inherit;
        height: inherit;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;
    }
    .stat-background {
        background-image: url("/public/images/stat.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 16mm;
        height: 23mm;
    }
    .stat {
        width: 16mm;
        height: 20mm;
        display: flex;
        flex-direction: column;
    }
    .stat div {
        display: flex;
        align-items:center;
        justify-content:center;
    }
    .stat div:nth-child(1) {
    {{ backgroundColor() }}
        font-size: 8px;
        margin-top: 9px;
        height: 14px;
    }
    .stat div:nth-child(2) {
    {{ backgroundColor() }}
        font-size: 18px;
        height: 44px;
    }
</style>

<div id="stats-section" class="section">
    <div id="stats-container">
        {% for key, stat in stats %}
            <div class="stat-background stat">
                <div class="tac"><b>{{ key|upper }}</b></div>
                <div>{{ stat }}</div>
            </div>
        {% endfor %}
    </div>
</div>