<link rel="stylesheet" href="{{ asset(stylesPath) }}">
<style>
    .description-section {
        background-image: url("{{ asset('images/dnd5e_logo_opaque_10.png') }}");
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
        background-size: 80%;
        border-radius: 5px;
        font-size: 9px;
        padding: 4px;
        margin: 0 2mm 2mm 2mm;
        display: flex;
        flex-grow: 1;
        text-align: justify;
        flex-direction: column;
        justify-content: space-between;
    }
</style>
<div class="small-card-front">
    <div class="title-section">
        <div class="item-title title-font">
            {% if title is not null %}
                {{ title }}
            {% else %}
                Lorem ipsum dolor sit amet
            {% endif %}
        </div>
    </div>
    <div class="description-section">
        <div id="item-description" class="content">
            {% if description is not null %}
                {{ description|quill }}
            {% else %}
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
                incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            {% endif %}
        </div>
    </div>
</div>