{% extends 'base.html.twig' %}
{% block body %}
    <style>
        #character-card-front {
            /*background-color: rgba(255, 192, 203, 0.3);*/
            width: 287mm !important;
            height: 200mm !important;
            position: relative;
            overflow: hidden;
        }
        #title-section {
            left: 0;
            top: 0;
            width: 177mm;
            height: 25mm;
        }
        #abilities-section {
            left: 0;
            top: 96px;
            width: 16mm;
            height: 153mm;
        }
        .section {
            background-color: rgba(0, 255, 255, 0.5);
            position: absolute;
        }
    </style>
    <div id="character-card-front">
        {{ titleSection|raw }}
        {{ abilitiesSection|raw }}
    </div>
{% endblock %}