{% extends 'base.html.twig' %}
{% block body %}
    <style>
        #character-card-front {
            background-color: rgba(255, 192, 203, 0.3);
            border: 5mm dashed pink;
            width: 287mm;
            height: 200mm;
        }
    </style>
    <div id="character-card-front">
        {{ titleSection|raw }}
    </div>
{% endblock %}